:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
h1,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
/* h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
} */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin: 0;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}
.title-centered {
  text-align: center;
}
.text-centered {
  text-align: center;
}
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo-accent {
  color: var(--iris);
}
button {
  display: block;
  border: none;
  cursor: pointer;
}
img{
  display: block;
}
.button {
  font-family: inherit;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  color: var(--white);
  letter-spacing: 0.04em;

  padding: 16px 32px;
}
.button:hover,
.button:focus {
  background: var(--ocean);
}
address {
  font-style: normal;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section{
  padding-top: 120px;
  padding-bottom: 120px;
}
/* #region header */
.header{
  border-bottom: 1px solid var(--cornflower);
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);

  padding: 24px 0;
  margin-right: 76px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  color: var(--navy-blue);
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.link-contact {
  padding: 24px 0;
}
.link-contact:hover,
.link-contact:focus {
  color: var(--ocean);
}
/* #endregion */

/*  #region Hero */
.hero {
  background: var(--navy-blue);
}
.hero-wrapper {
  padding: 188px 0;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);

  max-width: 496px;
  margin: 0 auto 48px;
}
.hero-button {
  margin: 0 auto;
}
/* #endregion */

/* #region Features */
/* .fearures-wrapper {
  padding: 120px 0;
} */
.features-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.features-item-title {
  margin-bottom: 8px;
}
/* #endregion */

/* #region Team */
.team {
  background-color: var(--cloud);
}
/* .team-wrapper {
  padding: 120px 0;
} */
.team-title {
  margin: 0 auto 72px;
}
.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-list-item {
  max-width: 264px;
  flex-basis: calc((100% - 24px * 3) / 4);
  background-color: var(--white);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}
.team-text-wrapper {
  padding: 32px 16px;
}
/* #endregion */

/* #region Portfolio */
/* .portfolio-wrapper {
  padding: 120px 0;
} */
.portfolio-title {
  margin: 0 auto 72px;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-item {
  max-width: 360px;
  flex-basis: calc((100% - 24px * 2) / 3);
 
}
.portfolio-text-wrapper {
  padding: 32px 16px;
   border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
}
/* #endregion */

/* #region Footer */
.footer {
  background-color: var(--navy-blue);
}
.logo-footer {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
}
.footer-wrapper{
  padding: 100px 0;
}
.footer-text-left{
  max-width: 264px;
}
/* #endregion */