:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
h1,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
/* h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
} */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin: 0;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}
.title-centered {
  text-align: center;
}
.text-centered {
  text-align: center;
}
/* p {
  margin: 0;
} */
ul,
ol {
  list-style-type: none;
  /* padding: 0;
  margin: 0; */
}
a {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo-accent {
   color: var(--iris);
}

.button {
  font-family: inherit;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  color: var(--white);
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: var(--ocean);
}
address {
  font-style: normal;
}
/* header */
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.nav-link {
  font-weight: 500;
  color: var(--navy-blue);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}
.link-contact:hover,
.link-contact:focus {
  color: var(--ocean);
}
/* Hero */
.hero {
  background: var(--navy-blue);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
}

/* Team */
.team {
  background-color: var(--cloud);
}
.team-list-item {
  background-color: var(--white);
}

/* Footer */
.footer {
  background-color: var(--navy-blue);
}
.logo-footer {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
}
